[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
tox = "<3.8"
twine = "*"
pytest = "*"
tox-pyenv = "*"

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
